@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

header {
    /* opacity: 0.5; */
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    background-size: cover;
    background-position: center;
}

:root {
    --main-color: rgb(58, 63, 83);
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --lght-bg: #eee;
    --border: 1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    /* background: url('v617batch2-bb-01-technology.jpg'); */
    /* opacity: 0.5; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

section {
    padding: 1rem 10%;
}

@keyframes fadIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
}


.btn {
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    margin-top: 1rem;
    font-size: 1.7 rem;
    padding: 1rem 3rem;
    cursor: pointer;
}



.heading-title {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    font-size: 1.5rem;
    color: var(--black);
    margin-left: 2rem;
}

.header .navbar a {
    font-size: 1rem;
    margin: 1.4rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--main-color);
}

#menu-btn {
    font-size: 1rem;
    cursor: pointer;
    color: var(--black);
    margin-right: 1rem;
    display: none;
}


.home {
    padding: 0;
}

.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}

.home.slide.content {
    width: 85rem;
    display: none;
}

.home .swiper-slide-active .content {
    display: inline-block;
}

.home.slide.content span {
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
    animation: fadeIn .2s linear backwards .2s;
}

.home.slide.content h3 {
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fadeIn .2s linear backwards .4s;
}

.home.slide.content .bt {
    animation: fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
    height: 7rem;
    width: 7rem;
    background: var(--white);
    color: var(--black);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
    background: var(--main-color);
    color: var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
    font-size: 2rem;
}

.home .swiper-button-prev {
    right: 7rem;
}

.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image {
    flex: 1 1 41rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    text-align: center;
    flex: 1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}

.home-about .content h3 {
    text-align: center;
    font-size: 3rem;
    color: var(--black);

}

.home-about .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

.home-packages {
    background: url('image/simplebg5.avif');
    padding: 150px;
}

.home-packages .container1 {
    display: block;
    width: 967px;
    margin: auto;
    overflow: auto;
}

.home-packages .container1 .third-row {
    height: 306px;
    width: 100%;
}

.home-packages .container1 .third-row .block-01,
.block-02,
.block-03 {
    color: rgb(58, 63, 83);
}

.home-packages .container1 .third-row .block-01,
.block-02,
.block-03 {
    width: 320px;
    float: left;
    text-align: center;
    padding-top: 35px;
}

.home-packages .container1 .third-row .block-01 p,
.block-02 p,
.block-03 p {
    color: black;
    font-size: 1rem;
    text-align: center;
}


.home-packages .container1 .third-row .block-01 i,
.block-02 i,
.block-03 i {
    width: 120px;
    text-align: center;
    /* border-radius: 90px; */
    -webkit-border-radius: 90px;
    /* -moz-border-radius: 90px; */
    border: 9px solid rgb(58, 63, 83);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 54px;
}

.home-packages .container1 .third-row .block-01 i .fa-4x {
    font-size: 4em;
}

.home-packages .container1 .third-row .block-01 i .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.home-packages .container1 .third-row .block-01 i .fa-flash:before {
    content: "\f0e7";
}

i {
    font-style: italic;
}




.home-offer {
    text-align: center;
}

.home-offer .contents {
    max-width: 70rem;
    margin: 0 auto;

}

.home-offer .contents h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--black);
}

.home-offer .contents p {
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}















.footer {
    background: url('image/foot.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: .3rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 6rem;
}


.footer .box-container .box a {
    color: var(--light-white);
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
    margin-left: 6rem
}


.footer .box-container .box a:hover i {
    padding-right: 1rem;
}

.footer .credit {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-top: .1rem solid var(--light-white);
    font-size: 1rem;
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}

.services {
    /* background: url('image/img1.jpg') no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}


.services .box-container .box h6 {
    /* color: rgb(98, 161, 228); */
    font-size: 1.2rem;
    color: black;
    /* padding-bottom: 2rem;
    padding-top: 2rem;
    margin-left: 6rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.services .box-container .box {
    padding: 1rem 1rem;
    text-align: center;
    background: rgb(235, 239, 219);
    cursor: pointer;
    border-radius: 15px;
}

.services .box-container .box:hover {
    background: rgb(58, 63, 83);
}

.services .box-container.box img {
    height: 4rem;
}




h1 {
    font-family: HelveticaNeue-Bold;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-family: HelveticaNeue-Medium;
    font-size: 24px;
    color: white;
    text-align: center;
    line-height: 36px;
    margin: 30px 75px;

}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.banner-other section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flex-column {
    background: url('image/simplebg2.avif');
    flex-direction: column;
    padding: 200px 0px;
}

.flex-middle {
    justify-content: center;
    align-items: center;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-middle {
    justify-content: center;
    align-items: center;
}

.flex {
    display: -webkit-flex;
    display: flex;
}


section {
    display: block;
}